{% extends 'blog/main.html' %}
{% load crispy_forms_tags %}
{% block main_section %}
    <div class="form-section">
        <h2>Регистрация на сайте</h2>
        <form method="POST">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-outline-secondary mr-2">Зарегистрироваться</button>
        </form>
    <hr>
    Уже зарегестрированны? <a href="{% url 'user' %}">Войти в личный кабинет</a>
    </div>
{% endblock main_section %}


{% block aside_news_section %}
    <h3><b>Machine learning</b></h3>
    <p>Machine learning (ML) is the scientific study of algorithms and statistical models that computer
        systems use to progressively improve their performance on a specific task. Machine learning
        algorithms build a mathematical model of sample data, known as "training data", in order to make
        predictions or decisions without being explicitly programmed to perform the task.</p>
    <img src="https://cdn1.savepice.ru/uploads/2019/1/16/07f82e25174f05087fdaf67509c2b8c4-full.png"
         class="img-thumbnail mb-3">
    <a href="https://en.wikipedia.org/wiki/Machine_learning" class="btn btn-outline-light btn-block"
       role="button" aria-disabled="true">View</a>
{% endblock aside_news_section %}


{% block test_news_section %}
    <h3><b>Statistics</b></h3>
    <p>Statistics is a branch of mathematics dealing with data collection, organization, analysis, interpretation and
        presentation.In applying statistics to, for example, a scientific, industrial, or social problem, it is
        conventional to begin with a statistical population or a statistical model process to be studied.</p>
    <img src="https://cdn1.savepice.ru/uploads/2019/1/17/8b2289819d074a2bd6f809dfc0e91b5f-full.png"
         class="img-thumbnail mb-3">
    <a href="https://en.wikipedia.org/wiki/Statistics" class="btn btn-outline-light btn-block"
       role="button" aria-disabled="true">View</a>
{% endblock test_news_section %}